<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970134336311-bn3h6lit144k62o655qdcrd01cq2krmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970134336311-bn3h6lit144k62o655qdcrd01cq2krmb</string>
	<key>API_KEY</key>
	<string>AIzaSyA2cCD9JzLJXuPbNC-70yNQfVwSDYesnSU</string>
	<key>GCM_SENDER_ID</key>
	<string>970134336311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shop.mtcoding.riverpodFirestoreStream</string>
	<key>PROJECT_ID</key>
	<string>riverpod-firestore-stream</string>
	<key>STORAGE_BUCKET</key>
	<string>riverpod-firestore-stream.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970134336311:ios:dd792224115be2ff26a0b2</string>
</dict>
</plist>